html, * {
    font-family: 'Nunito', sans-serif;
}
html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


.botao-nav:focus {
    box-shadow: none !important;
}

.nome-site {
    display: flex;
    max-width: 100%;
    text-align: center;
    align-items: center;
    background-color: #82a28459;
    z-index: 0 !important;
    margin-bottom: 4rem !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.titulo {
    font-size:4.5vh;
}

.logo {
    width: 6vh;
}

.titulo, .logo {
    font-weight: bold;
    margin-left: 2%;
}
.nav-content {
    display: block;
    max-width: fit-content;
}


.sidebar {
    display: flex;
    position: fixed;
    top: 0;
    font-size: 15px;
    flex-wrap: nowrap;
    height: 100vh !important;
    max-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1;
}

.selected {
    background-color: #198754 !important;
    color: white !important;
    font-weight: 400 !important;
}

.sidebar a {
    color: white;
}

.sidebar a:hover {
    color: #5cb85c;
}

hr {
    color: white !important;
}

.login-btn {
    border: none;
    background-color: #5cb85c;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
    transition: all ease-in-out 200ms;
}
.login-btn:hover {
    background-color: #ddd;
    color:#5cb85c;
}
.logout {
    margin-left: auto;
    margin-right: auto;
}

.logout img {
    display: flex;
    margin-left: 5%;
    filter: invert(100%);
}

.logout a {
    flex-wrap: nowrap;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    transition: all ease-in-out 200ms;
}

.rodape {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    vertical-align: bottom;
    padding-top: 1.5% !important;
    z-index: 0 !important;
    background-color: #82a28459;
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
}

.rodape ul{
    list-style: none;
    display: grid !important;
    align-items: end;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.rodape li {
    margin-left: 20px;
    font-size: 1vw;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: rgb(66, 66, 66)
}

footer a:hover {
    text-decoration: underline;
    color: #5cb85c;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 10%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.login-form {
    padding: 6%;
    background-color: #82a28459;
    border-radius: 10px;
}

.login-form h1 {
    font-weight: bolder;
    text-align: center;
}

.login-form button {
    margin-left: auto;
    margin-right: auto;
}

.login-form a {
    text-align: center;
    text-decoration: none;
    color: rgb(66, 66, 66);
    display: block;
}
.login-form a:hover {
    text-decoration: underline;
    color: #5cb85c;
}

.pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.pesquisar input {
    width: 25vw;
}

.empresa div {
    margin-bottom: 2vh;
}


@media screen and (max-width: 1400px) {
    .rodape {
        position: static !important;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .rodape li {
        font-size: 60%;
    }
}

.img-circulares {
    border-radius: 50%;
    height: 150px;
}